*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: system-ui, -apple-system, 'Open Sans', sans-serif;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

main {
    height: 100vh;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    display: flex;
    justify-content: space-between;
}

h1 {
    align-self: center;
    margin-top: -50px;
    font-size: 4rem;
}

#acnh h2 {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.villager-info, .weather-info {
    display: flex;
    align-items: center;
}

.villager-info img,
.weather-info img {
    width: 50px;
    height: 50px;
}

.villager-desc p:first-child {
    font-size: 1.1rem;
    font-weight: 600;
}

.villager-desc p:nth-child(2) {
    font-size: 0.8rem;
    text-transform: uppercase;
}

.villager-desc p {
    margin-left: 10px;
}

.weather-info p {
    font-size: 1.5rem;
    font-weight: 600;
}

#weather > p {
    margin-top: -5px;
    text-align: center;
}